@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --main-bg-color: white;
    --main-theme-color: #1E5128;
    --sub-theme-color: #4E9F3D;
    --sub-theme-color-sub: #D8E9A8;
    --main-text-color: black;
    font-family: 'Nanum Pen Script', cursive;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    box-sizing: border-box;
}

.header{
    height: 40px;
    background-color: var(--sub-theme-color-sub);
    padding-bottom: 10px;
}

.body{
    padding: 15px;
    display: flex;
}

.section{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Alarm Content */
.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.header_name{
    padding: 20px;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.alarm_body{
    display: flex;
    height: auto;
    margin-bottom: 10px;
}

.main_content{
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 20px;
    padding-bottom: 5px;
}

.footer_content{
    padding-right: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav_content{
    display: flex;
    justify-content: center;
    width: 25%;
    padding:5px;
}

.nav_wrapper{
    width: 100%;
}

.side_nav{
    background-color: var(--sub-theme-color-sub);
    width: 100%;
    min-height: 800px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.side_nav ul{
    padding-top: 20px;
    padding-left: 10px;
}

.side_nav ul li{
    list-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side_nav ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    font-size: 1.5em;
}

.side_nav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.side_nav ul li a .icon icon{
    font-size: 1em;
}

.side_nav ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    min-width: 60px;
    height: 60px;
    line-height: 53px;
    white-space: normal;
}

.side_nav ul li:hover{
    background-color: white;
}

.side_nav ul li.active{
    background-color: white;
}

.list_wrapper{
    width: 100%;
}

.message_list{
    padding:10px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--sub-theme-color-sub);
    height: 100%;
}




/* Keyword Button*/
.button{
    background-color: var(--sub-theme-color-sub);
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    cursor: pointer;
    text-align:center;
    border: none;
}

.button:hover {
    background-color: var(--sub-theme-color);
}

#keyword_button {
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.alarm_footer{
    display: flex;
    height: auto;
}

.covid_visual{
    display: flex;
    justify-content: center;
    width: 58%;
    min-height: 300px;
    border-radius: 10px;
    padding:5px;
    border: 3px solid var(--sub-theme-color-sub);
}

.covid_message{
    display: flex;
    justify-content: center;
    width: 40%;
    min-height: 300px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid var(--sub-theme-color-sub);
}

/* Wrapper Content */
.recommend_content_wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 5px;
}

.recommend_content{
    width: 100%;
}

.recommend_title{
    font-size: 18px;
}

.recommend_iframe{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    height: 480px;
    border: 3px solid var(--sub-theme-color-sub);
    margin-bottom: 10px;
}

.page_embed{
    width: 100%;
    height: 100%;
}

.recommend_footer{
    display: flex;
    justify-content: center;
}

.recommend_footer_wrapper{
    width: 100%;
    padding: 20px;
}

.sns_button_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px
}

.sns_button{
    background-color: var(--sub-theme-color-sub);
    padding: 8px;
    width: 30%;
    border: none;
    border-radius: 10px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    cursor: pointer;
    text-align:center;
    border: none;
}

.sns_button.active{
    background-color: var(--sub-theme-color);
}

.sns_content{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    min-height: 300px;
    border: 3px solid var(--sub-theme-color-sub);
}

.table{
    font-size: 24px;
    width: 100%;
}



.table > tbody > tr >td{
    text-align: center;
}



/* Pop Up button */

.popup_box{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 620px;
    border-radius: 10px;
    background-color: white;
    z-index: 10001;
    font-size: 14px;
}

.popup_head{
    padding: 6px;
    border-bottom: 1px solid lightgray;
}

.popup_head_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px;
    font-size: 20px;
}

.popup_title{
    font-weight: bold;
}

.popup_body{
    padding: 16px;
    border-bottom: 1px solid lightgray;
}

.popup_input{
    margin-bottom: 15px;
}

.input_title{
    margin-bottom: 10px;
}

.input_text{
    width: inherit;
    padding:10px;
    width: 95%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#task_description{
    resize: none;
    height: 130px;
}

.popup_footer_wrapper{
    padding: 16px;
    float: right;
}


.user_button{
    color: white;
    font-size: 14px;
    border: none;
    height: 35px;
    width: 100px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 3px;
    font-weight: bold;
}

#close_button{
    background-color: lightgray;
    width: auto;
    padding: 3px;
}

#save_button{
    background-color: blue;
    -moz-window-dragging: auto;
    padding: 3px;
}

.actual_content{
    width: 100%;
    min-height: 400px;
    border: 1px solid gray;
}